<div class="section message-block">
	<% include partials/nav-bar %>
	<form id="login-form" method="post" action="/login">
		<div class="field">
			<label class="label">email</label>
			<div class="control has-icons-left has-icons-right">
				<input class="input" name="email" type="email" placeholder="Email input" value="hello@">
    <span class="icon is-small is-left">
      <i class="fa fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fa fa-warning"></i>
    </span>
			</div>
			<p class="help is-danger">This email is invalid</p>
		</div>
		<div class="field">
			<label class="label">password</label>
			<div class="control has-icons-left has-icons-right">
				<input class="input" type="password" name="password" id="password">
    <span class="icon is-small is-left">
      <i class="fa fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fa fa-warning"></i>
    </span>
			</div>
			<p class="help is-danger">This password is invalid</p>
		</div>
		<div class="field is-grouped">
			<div class="control">
				<button class="button is-primary" id="submit" type="submit">Login</button>
			</div>
			<div class="control">
				<a href="http://localhost:1337/signup" class="button is-link">Signup</a>
			</div>
		</div>
	</form>
</div>

<!--<script>-->
<!--function login() {-->
<!--console.log('signin');-->
<!--$.post({-->
<!--// method: 'POST',-->
<!--url: 'http://localhost:1337/login',-->
<!--data: {-->
<!--email: $('#login-form #email').val(),-->
<!--password: $('#login-form #password').val(),-->
<!--},-->
<!--then: function(response) {-->
<!--console.log(response);-->
<!--}-->
<!--});-->
<!--window.location.href = 'http://localhost:1337/homepage';-->
<!--}-->
<!--$('#login-form #submit').on('click', login);-->
<!--</script>-->
